%h3 
  GeoJSON is Spectacularly Wrong
  %span.small :: 5/23/2013
:markdown
  The little format that could
  
  * It is what it is, no plans for a 2.0 version
  * There are aother options like TopoJSON