%h3 
  High Performance Data Viz
  %span.small :: 5/22/2013
:markdown
  * search
    * load data once and search lots of times
    * search index
      * grid - ok/meh
      * tree data structures - better
      * crossfilter - interesting indexing system
  * geometric clipping
  * polyline simplification
    * mourner.github.com/simplify-js
  * reduce dom objects
    * clustering
      * hierarchical clustering - good for doing it once and having multiple levels
  * data loading and processing
    * web workers - multi-threaded calculations in javascript
    * loading data in the worker
    * transferable objects
      var array = new Float16Array(len);
      var buffer = array.buffer
      postMessage()
    * asm.js
  * rendering backends
    * SVG, Canvas, WebGL
  