%h3 
  Mobile Mapping w/ EnyoJS
  %span.small :: 5/23/2013
:markdown
  * IE8 or better
  * MVC js framework (think ExtJS)
  * Integrates with Maven build system and some test frameworks
  * Not for us
  * Mobile app development handled by phonegap
