- content_for :splash do
  %h2 Relaunch of the site
  %p.lead Welcome to the site relaunch.  I'm going to quickly start putting some things together here after some inspiration from the FOSS4G conference.
  
%section#blog
  %h1 Stay tuned while tune the antenna