- content_for :splash do
  .row
    .col-lg-6
      #home.well
        %h3 RubyConf is now over
        %p So RubyConf just ended and it was a huge blast, it was nice to meet a bunch of new folks and see all the neat things people are doing with Ruby. 
        
        %p Some of the highlights for the conference included the #RubyOnSails event and the "My KidsRuby Journey" by PJ and Katie Hagerty and "That's Not Very Ruby of You" by Ernie Miller keynote talks.  I really enjoyed listening to the talks about using partial evaluators to build compilers and machine learning tools.
        
        %p Piles of new things to check out once I get back home like Grape, ServerSpec (for chef), queue_classic.  
    .col-lg-6
      .well
        %h3 
          = fa_icon "wrench"
          What I do
        %p 
          I work for the 
          = link_to 'http://www.gina.alaska.edu', target: :_blank do
            Geographic Information Network of Alaska
            = fa_icon "external-link"
          doing development and project management.
        %p 
          My primary work involves working with GIS data and doing web development using Ruby on Rails and various JavaScript technologies.
        
%section#blog
  %h1 Stay tuned while we adjust the antenna