- content_for :splash do
  %h2 Relaunch of the site
  %p.lead Welcome to the site relaunch.  I'm going to quickly start putting some things together after inspiration from the FOSS4G conference has finished exploding.
  
%section#blog
  %h1 Stay tuned while we adjust the antenna