%h1 
  %i.icon-code-fork
  teknofire.net

%ul.nav.nav-pills.pull-left.scroller
  %li
    = link_to '#home', data: { scroll: true } do
      %i.icon-home
      Home 
  %li
    = link_to '#blog', data: { scroll: true } do
      %i.icon-microphone
      Blog
  %li
    = link_to 'http://github.com/teknofire' do
      %i.icon-github
      Code