%li
  = link_to notes_path do
    %i.icon-edit
    Notes
%li
  = link_to 'http://github.com/teknofire' do
    %i.icon-github
    Code
- if signed_in?
  %li
    = link_to signout_path do
      %i.icon-signout
      Signout
- else
  %li
    = link_to signin_path do
      %i.icon-signin
      Signin